<ion-nav-bar class="bar-calm nav-title-slide-ios7">
  <div class="buttons">
    <button class="button icon ion-backspace-outline" ui-sref="start"></button>
  </div>
  <!-- <h1 class="title">ionic memory</h1> -->
  <div class="buttons">
    <button class="button icon ion-information" ng-click="settings()"></button>
   <!--  <button class="button icon ion-gear-b" ng-click="settings()"></button> -->
  </div>
</ion-nav-bar>

<ion-nav-view name="appContent" animation="slide-left-right"></ion-nav-view>
