<ion-view>

	<ion-nav-buttons></ion-nav-buttons>

	<ion-content id="home">
	<div class="row responsive-sm">
	  <div class="col">
	  	    <div class="text-center">
	  	    	<h1 class="splash-title"> Iconion </h1>
				<img src="img/menu.png" class="bounce splash-img">
	  	    	
	  	    	<p class="splash-subtitle">A Memory Game</p>
	  	    	<p class="splash-highscore">High Score : <span ng-bind="homeHighScore"></span></p>
	  	    </div>
	  </div>
	</div>
		<div class="home-menu">
			<div class="row">
				<div class="col col-center">
					<div class="text-center">
						<button class="button button-calm start-choices" ui-sref="game-easy">
							<h3 class="OpenSans">Easy</h3>
						</button>
						<button class="button button-calm start-choices" ui-sref="game-difficult">
						 	<h3 class="OpenSans">Medium</h3>
						</button>
						<button class="button button-calm start-choices" ui-sref="game-hard">
						 	<h3 class="OpenSans">Hard</h3>
						</button>
					</div>
				</div>
			</div>
			
		</div>

	</ion-content>

</ion-view>
