<ion-view>

	<ion-nav-buttons></ion-nav-buttons>

	<ion-content id="home">
	<div class="row responsive-sm">
	  <div class="col">
	  	    <div class="text-center">
	  	    	<h1 class="splash-title"> Iconion </h1>
				<img src="img/menu.png" height="200px" class="bounce splash-img">
	  	    	
	  	    	<p class="splash-subtitle">A Memory Game</p>
	  	    </div>
	  </div>
	</div>
		<div class="home-menu">
			<div class="row">
				<div class="col col-center">
					<div class="text-center">
						<button class="button button-calm start-choices" ui-sref="game-easy">
							<h3>Easy</h3>
						</button>
						<button class="button button-calm start-choices" ui-sref="game-difficult">
						 	<h3>Medium</h3>
						</button>
						<button class="button button-calm start-choices" ui-sref="game-hard">
						 	<h3>Hard</h3>
						</button>
					</div>
				</div>
			</div>
			
		</div>

	</ion-content>

</ion-view>
