<div id="info-modal" class="modal" ng-controller="InfoCtrl">

	<ion-header-bar class="bar-calm nav-title-slide-ios7" ng-class="'bar-'+settings.theme">
		<div class="buttons">
		  <button class="button icon ion-backspace-outline" ng-click="closeInfo()"></button>
		</div>
		<!-- <button class="button icon ion-backspace-outline" ></button> -->
	</ion-header-bar>

	<ion-content has-header="true">
		<div class="padding">

			<div class="list">

				<div class="xcard">
			      <b>Version 1.0</b><br>
			      <b>Created By: Nixon Galario</b><br>
			      <b>Website: <a href="http://nixongalario.com">Visit</a></b><br>
			      <b>Email : nixongalario@gmail.com</b>
			      <br><br>
			      <b>Inspired by AngularJS MemoryGame: <a href="https://github.com/Asiance/AngularJS-MemoryGame">Visit</a></b><br>

			    </div>

			</div>

		</div>
	</ion-content>

</div>
